@{
    ViewData["Title"] = "Inicio";
}

<h1>Inicio</h1>

<h3>Inmuebles disponibles hoy: @Model.Count</h3>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Dirección</th>
            <th>Tipo de Inmueble</th>
            <th>Uso</th>
            <th>Ambientes</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Direccion</td>
            <td>@item.TipoNombre</td>
            <td>@item.Uso</td>
            <td>@item.Ambientes</td>
        </tr>
    }
    </tbody>
</table>
