@model InmobiliariaAdo.Models.Propietario
@{
    ViewData["Title"] = "Eliminar Propietario";
}
<h1>Eliminar Propietario</h1>
<p class="text-danger">¿Confirmás eliminar este propietario?</p>

<div class="card p-3 mb-3">
    <dl class="row">
        <dt class="col-sm-2">Id</dt><dd class="col-sm-10">@Model.Id</dd>
        <dt class="col-sm-2">DNI</dt><dd class="col-sm-10">@Model.DNI</dd>
        <dt class="col-sm-2">Nombre</dt><dd class="col-sm-10">@Model.Nombre</dd>
        <dt class="col-sm-2">Apellido</dt><dd class="col-sm-10">@Model.Apellido</dd>
         <dt class="col-sm-2">Domicilio</dt><dd class="col-sm-10">@Model.Domicilio</dd>
        <dt class="col-sm-2">Teléfono</dt><dd class="col-sm-10">@Model.Telefono</dd>
        <dt class="col-sm-2">Email</dt><dd class="col-sm-10">@Model.Email</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Sí, eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
