@model IEnumerable<InmobiliariaAdo.Models.Propietario>
@{
    ViewData["Title"] = "Propietarios";
}

<h1>Propietarios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">+ Nuevo Propietario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>DNI</th>
            <th>Apellido</th>
            <th>Nombre</th>
            <th>Contacto</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.DNI</td>
            <td>@item.Apellido</td>
            <td>@item.Nombre</td>
            <td>@item.Telefono</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a>

                @if (User.IsInRole("Administrador"))
                {
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                }
                else
                {
                    <span class="text-muted">🔒 Eliminar</span>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
